div{
    margin-top: 20px;
}

.active{
    background-color: #2e6da4;
    color: #fff;
}

.btn{
    margin: 5px;
    display: block;
    width: 400px;
}

button:hover, button:active{
    background-color: #2e6da4;
    color: #fff;
}

li{
    width: 100px;
    text-align: center;
}